lection.js
lection2.js
lection3.js
lection4.js
lection5.js
lection6.js
lection7.js
lection8.js
lection10.js
lection10.ts
lection11.ts
lection15.ts
tsconfig.json
1-answer.js
1.js
2.js
3.js
4.js
5.js
8.js
practice.ts
practice.js
exercise.js
index.html
js_hw_14_15